body {
  /* background-image: linear-gradient(to right, #ffffff, black); */
}

#landingPageTitleMain {
  flex: auto;
}

#landingPageNav {
  display: table;
  margin: 0 auto;
  padding: 5px;
  font-size: 15px;
}

#landingPageTitleDiv {
  display: flex;
}

#landingPageTitleInnerDiv {
  flex: 0.75;
}

#landingPageTitle {
  font-size: 100px;
  color: var(--main_accent);
}

#landingPageTitleShadow {
  position: absolute;
  z-index: -1;
  content: "";
  inset: -1px;
  font-size: 100px;
  color: var(--main_accent);
  translate: 0 15%;

  filter: blur(50px) brightness(1.8);
}

.ball {
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  position: relative;
  z-index: -1;
  animation: one 10s infinite;
  opacity: 0.5;
  filter: blur(90px);
  /* background-color: black; */
  background-color: var(--main_accent);
}

@keyframes one {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -100px;
    top: 70px;
  }
  50% {
    left: 20px;
    top: 150px;
  }
  75% {
    left: 50px;
    top: 100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
