/* PALETTE */
/* main accent #2C8DE5; */
/* secondary accent  #7cbefb9d*/
/* tertiary accent #7cbefb9d */
/* background color: #FFFFFF; */
/* secondary background color: #eaeef4; */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scrollbar-width: thin;
}

body {
  display: flex;
  flex-direction: column;
  padding: 26px;
  height: 100%;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #eaeef4;
  overflow: auto;
}

.roundedElement {
  /* border-radius: 0.4vw; */
  border-radius: 13px;
}

header {
  padding: 10px;
  text-align: center;
  background: #2c8de5;
  color: white;
}

/* NAVBAR RULES */
nav {
  background-color: #ffffff;
  padding: 5px;
  font-size: 15px;
  margin-top: 15px;
  overflow: auto;
  scrollbar-width: thin;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 0%;
  display: flex;
  flex-direction: row;
}

nav li a {
  display: block;
  margin-right: 5px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s;
  background-color: #7cbefb37;
}

nav li a:hover {
  background-color: #7cbefb9d;
}

#row {
  display: flex;
  flex: 1;
  margin-top: 15px;
  overflow: hidden;
  scrollbar-width: thin;
}

#landingPageDiv {
  background-color: #ffffff;
  flex: 1;
}

#filterPanel {
  background-color: #ffffff;
  padding: 20px;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

#queryResult {
  background-color: #ffffff;
  flex: 1;
  margin-left: 15px;
  overflow: auto;
  scrollbar-width: thin;
}

#queryResult h1 {
  margin: 1%;
}

footer {
  align-items: center;
  display: flex;
  background-color: #ffffff;
  color: black;
  margin-top: 15px;
  padding: 3px;
  height: fit-content;
}

#footerLeftSide {
  flex: 1;
  margin-right: 25px;
}

footer p {
  margin-left: 10px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer li {
  float: right;
}

footer li a {
  display: block;
  padding: 7px;
  color: black;
  text-decoration: underline;
  transition: 0.5s;
}

footer li a:hover {
  background-color: #7cbefb9d;
}

/* Stile della tabella */
.table {
}

.thead {
}

.tr {
}

.td {
}

.th {
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  #row {
    flex-direction: column;
  }

  #filterPanel {
    width: 100%;
    flex: 0.3;
    margin-bottom: 7.5px;
  }

  #queryResult {
    flex: 0.7;
    margin-left: 0px;
    width: 100%;
  }
}

footer {

}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    /* float: none;
    width: 100%; */
  }
}
